services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: manga-scraper-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:latest
    ports:
      - "8084:80"
    volumes:
      - .:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: manga_db
      MYSQL_USER: manga_user
      MYSQL_PASSWORD: secret
    ports:
      - "3310:3306"
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "8085:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: manga_user
      PMA_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db

  scheduler:
    build: .
    command: php artisan schedule:work
    depends_on:
      - db
    volumes:
      - ./:/var/www/html

  queue:
    build: .
    command: php artisan queue:work database --queue=default --sleep=1 --tries=1 --timeout=120 --max-jobs=50
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./:/var/www/html

volumes:
  dbdata:
